<app-carousel [images]="images"></app-carousel>
<div class="container">
  <hr id="hr">
<div class="doinet">
  <div class="tittle-doinet">Đôi nét về ECOHEAL</div>
  <div class="content-doinet">
    <p>
      Cuộc sống ngày càng hiện đại và phát triển, con người lại có xu hướng tìm
      kiếm các loại thức ăn từ thực vật để bảo vệ sức khỏe, nâng cao chất lượng
      cuộc sống. Tuy nhiên những sản phẩm dành riêng cho chế độ ăn kiêng chưa
      thực sự phổ biến cũng như chưa đủ đáp ứng yêu cầu về chất lượng và giá cả
      của những “tín đồ eat-clean”. Để đáp ứng nhu cầu đó ECOHEAL đã không ngừng
      cho ra đời các sản phẩm không chỉ dừng lại là những bữa ăn, mà hướng đến
      sự đa dạng cho các bữa ăn, tiết kiệm thời gian và bổ sung đầy đủ chất cho
      một sức khỏe toàn diện. ECOHEAL khẳng định được vị thế của mình trên thị
      trường, đặc biệt một số dòng sản phẩm từ thương hiệu ECOHEAL còn trở thành
      xu hướng yêu thích và sự lựa chọn hàng đầu cho các khách hàng theo lối
      sống xanh ở các dòng sản phẩm như yến mạch, granola, bánh biscotti,…
    </p>
    <p>
      Sản phẩm của ECOHEAL không chỉ giữ được hương vị thơm ngon vốn có của
      nguyên liệu mà còn vẹn nguyên chất dinh dưỡng. Với những nguồn nguyên liệu
      thân thiện từ thiên nhiên có giá trị dinh dưỡng cao và hương vị tuyệt vời
      như: yến mạch, hạt óc chó, hạt hạnh nhân, táo tàu,… ECOHEAL đã và đang
      tiếp tục cho ra đời thêm nhiều món ăn chất lượng, hấp dẫn hơn nữa để phục
      vụ quý khách hàng.
    </p>

  </div>
  <div style="text-align: center;" >
<div class="btn-lienhe">
  <button (click)="showTags()">Liên hệ ECOHEAL</button>
</div>
<div></div>

<div class="tags" *ngIf="displayTags">
  <span> <a href="https://www.instagram.com/bephealthyhanoi/"><img src="../../assets/lienhe_img/Rectangle 227.png" alt=""  ></a></span>
  <span> <a href="https://www.facebook.com/granolagfood"><img src="../../assets/lienhe_img/Rectangle 228.png" alt=""  ></a></span>
  <span> <a href="https://www.tiktok.com/@ngucocankienggranola"><img src="../../assets/lienhe_img/Rectangle 229.png" alt="" ></a></span>
  <span> <a href=""><img src="../../assets/lienhe_img/Rectangle 230.png"></a></span>
</div>

<hr id="hr">
<div class="tamnhin">
  <div class="tittle-tamnhin">Tầm nhìn</div>
  <div class="content-tamnhin">
    Trở thành biểu tượng niềm tin hàng đầu Việt Nam về sản phẩm dinh dưỡng và
    sức khỏe phục vụ cuộc sống con người
  </div>
</div>
<hr id="hr">
<div class="sumenh">
  <div class="tittle-sumenh"> Sứ mệnh</div>
  <div class="content-sumenh">
    ECOHEAL cam kết mang đến cho cộng đồng nguồn dinh dưỡng
     và chất lượng cao cấp hàng đầu bằng chính sự trân trọng,
      tình yêu và trách nhiệm cao của mình với cuộc sống con người và xã hội. Chúng tôi luôn cố gắng nghiên cứu để mang đến những sản phẩm dinh dưỡng và có hương vị tuyệt vời để đồng hành cùng sức khỏe của khách hàng.
  </div>
</div>
<hr id="hr">
<div class="doitac">
  <div class="tittle-doitac">Đối tác của chúng tôi</div>
  <div class="content-sumenh">
   <p>EcoHeal tự hào là lựa chọn ưu tiên hàng đầu của các doanh nghiệp lớn trong và ngoài nước
  </p>
   </div>
  <div class="img-vechungtoi">
<div><img src="../../assets/vechungtoi_img/doitac1.png" alt=""></div>
<div>    <img src="../../assets/vechungtoi_img/doitac2.png" alt="">
</div>
<div>    <img src="../../assets/vechungtoi_img/doitac3.png" alt="">
</div>
<div>    <img src="../../assets/vechungtoi_img/doitac4.png" alt="">
</div>
<div>    <img src="../../assets/vechungtoi_img/doitac5.png" alt="">
</div>
<div>    <img src="../../assets/vechungtoi_img/doitac6.png" alt="">
</div>
<div>    <img src="../../assets/vechungtoi_img/doitac7.png" alt="">
</div>
<div>    <img src="../../assets/vechungtoi_img/doitac8.png" alt="">
</div>
<div>    <img src="../../assets/vechungtoi_img/doitac9.png" alt="">
</div>
  </div>

</div>
</div>
