<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap"rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css" rel="stylesheet"/>
    <link rel="stylesheet" href="./tintuc-detail.component.css">
</head>
<body>
    <!-- header -->
    <div class="content">
        <div class="menu" >
            <div class="left_menu"><img src="./assets/images/logo.png" width="70px" height="70px"></div>
            <div class="right_menu">
                <ul class="sub_right_menu">
                    <li><div><a href="#"><img src="./assets/images/giỏ hàng.png" width="50px" height="50px"></a></div></li>
                    <li><div><a href="#">ĐĂNG NHẬP</a></div></li>
                    <li><div><input class="form-control" type="text"  placeholder="Tìm kiếm "></div></li>
                    <li><div><a href="#">KHUYẾN MÃI</a></div></li>
                    <li><div><a href="#">TIN TỨC</a></div></li>
                    <li><div><a href="#">MENU</a></div></li>
                    <li><div><a href="#">VỀ CHÚNG TÔI</a></div></li>
                    <li><div><a href="#">TRANG CHỦ</a></div></li>
                </ul>
            </div>
        </div>
        <!--  -->
    
    
    </div>
   <div class="detail">
    <h4 align="center">TẤT TẦN TẬT NHỮNG CÂU HỎI VỀ CHẾ ĐỘ ĂN EAT CLEAN</h4>
    <p><sub>14/05/2020 By ECOHEAL</sub></p>
    <p>Những năm gần đây, chế độ ăn eat clean không còn là khái niệm lạ lẫm đối với mọi người, nhất là những người có thói quen sống lành mạnh. Tuy nhiên, không phải ai cũng hiểu rõ về eat clean. Cùng Fitfood VN tìm hiểu từ A đến Z chế độ ăn này nhé!</p>
    <p><b>1. Chế độ ăn Eat Clean là gì?</b></p>
    <p>Eat Clean còn được biết là chế độ ăn sạch, ăn uống lành mạnh. Nói cách khác, đây là chế độ ăn mà trong đó thực phẩm sử dụng là những thực phẩm sạch, ít qua chế biết nên giữ được thành phần tự nhiên rất nhiều.</p>
    <p>Chế độ ăn Eat Clean khuyến khích bạn ăn các loại thức ăn toàn phần (thức ăn không qua chế biến hoặc chế biến cực ít) như ngũ cốc, trái cây, thịt nạc, sữa non, và các loại hạt cũng như chất béo lành mạnh.</p>
    <p>Chế độ ăn này yêu cầu bạn loại bỏ tất cả thức ăn chứa chất béo bão hòa, chất béo công nghiệp và thức ăn đã được chế biến sẵn. Đường, nước ngọt, rượu bị hạn chế tối đa. Đây được coi là xu hướng mới được nhiều người yêu thích trong thế kỷ 21.</p>
    <p><b>2. Những lợi ích của việc ăn Eat Clean?</b></p>
    <p>- Giúp hạn chế tiêu thụ thực phẩm nấu nướng quá kỹ, quá cầu kỳ: Thay vào đó, Eat Clean hướng tới ăn uống thực phẩm tự nhiên nhất, chỉ ăn thực phẩm tươi sống theo mùa, hạn chế tối đa thức ăn đông lạnh, không dùng đồ chế biến sẵn.</p>
    <p>- Eat Clean giúp giảm cân tự nhiên mà vẫn đảm bảo đủ chất dinh dưỡng: Bạn vẫn ăn đầy đủ chất béo, vitamin, đạm, bột..., chỉ loại bỏ là đường, dầu mỡ, chất phụ gia (bột nêm, bột ngọt). Sử dụng thịt nạc, thịt trắng, hải sản, các loại nấm, đậu; chất xơ, vitamin lấy từ rau củ quả, trái cây; hay "nạp" chất béo tốt từ dầu oliu, dầu mè, quả bơ...</p>
    <p>- Eat Clean giúp ăn nhiều rau, trái cây, đạm tốt: Những thực phẩm này sẽ giúp cơ thể tăng cường trao đổi chất, từ đó giúp đốt cháy năng lượng dư thừa, da sáng, mịn màng.</p>
    <p align="center"><img src="./assets/images/tintuc.png" width="400px" height="250px"></p>
    <p align="center"><i>Ảnh: Nguồn Healthy Food</i></p>
    <p><b>3. Làm thế nào để ăn theo chế độ Eat clean?</b></p>
    <p>- Luôn ăn đủ bữa (6 bữa/ngày), mỗi bữa đều đủ chất. Chính vì ăn nhiều bữa nên các bạn không nên ăn quá no.</p>
    <p>- Thực đơn các bữa ăn cần đầy đủ protein (thịt, cá, trứng, sữa), vitamin và khoáng chất (rau, củ, quả), chất béo (dầu thực vật) và cả tinh bột.Một lưu ý quan trọng, đó là chúng ta không nên cắt giảm tinh bột vì mục tiêu của chúng ta là ăn đủ chất để khoẻ đẹp, nếu cắt tinh bột khi tập luyện chúng ta sẽ không thể lên cơ vì tinh bột là thứ quan trọng nhất để tăng cơ giảm mỡ, nhưng chỉ nạp tinh bột tốt như bánh mì đen, gạo lứt, ngũ cốc, khoai lang.</p>
    <p>- Nói không tuyệt đối với đồ ăn vặt, fast food, đồ uống có gas, các món bim bim, snack, các đồ ăn đóng hộp, chế biến sẵn.</p>
    <p>- Uống nhiều nước mỗi ngày (hãy uống detox giống Hana, các bạn sẽ có niềm vui với việc uống nước)</p>
    <p>- Không nên ăn bánh kẹo, đồ ăn sẵn vì lượng đường sẽ chuyển thành calo, không chuyển thành chất dinh dưỡng cho cơ thể, sẽ giây ra béo.</p>
    <p>- Ăn thật nhiều rau, củ quả, hãy ăn gấp đôi lượng trái cây hàng ngày</p>
    <p>- Ăn nhiều loại ngũ cốc, yến mạch, rau, củ, quả</p>
    <p><b>4. Làm thế nào giảm đường trong khẩu phần ăn?</b></p>
    <p>- Tránh các đồ uống có đường, chế biến sẵn: nên uống nước lọc, nước trái cây và đồ ăn nhanh.</p>
    <p>- Hạn chế ăn vặt</p>
    <p>- Ăn vặt lành mạnh: loại bỏ bánh kẹo, thay vào đó hãy ăn trái cây, bơ đậu phộng</p>
    <p><b>5. Ăn kiêng theo chế độ Eat Clean có nên cắt bỏ hoàn toàn tinh bột không?</b></p>
    <p>Không. Người ăn Eat Clean nhất thiết phải ăn đủ chất, bao gồm cả tinh bột. Tinh bột có 2 loại là tinh bột tốt và tinh bột xấu.</p>
    <p>Tinh bột tốt là tinh bột chuyển hóa chậm, tinh bột xấu chuyển hóa nhanh. Tinh bột xấu sẽ làm chúng ta tích mỡ, tinh bột xấu giúp no lâu.</p>
    <p>Tinh bột tốt nằm trong các loại rau củ quả, ngũ cốc, gạo lứt, bánh mì đen, khoai lang. Tinh bột xấu: bột mì trắng, đường tinh luyện, gạo trắng.</p>
    <p><b>6. Vì sao cần giảm lượng muối khi chế biến?</b></p>
    <p>Nạp quá nhiều muối có thể gây ra các bệnh như: huyết áp cao, tăng nguy cơ đột quỵ, bệnh tim, bệnh thận, mất trí nhớ, rối loại chức năng cương dương, rối loại lưỡng cực.</p>
    <p>Các bạn hãy cố gắng ăn nhạt hết mức có thể. Khẩu vị của các bạn quen ăn mặn rồi thì các bạn nên ăn nhạt dần, nhạt dần đi cho đến lúc các bạn quen với việc ăn nhạt. việc này rất tốt cho sức khỏe của mình. Để giảm lượng muối thì các bạn nên ăn ở nhà nhiều hơn.</p>
   </div>

<div class="button" align="right">
    <button class="b1">Like <img src="./assets/images/like.png" width="20px" height="20px"></button>
    &nbsp;&nbsp;&nbsp;
    <button class="b1">Share <img src="./assets/images/share.png" width="20px" height="20px"></button>

</div>
<div class="footer">
    
    <div class="container">
      <div class="row">
        <div class="footer-col1">
          <h5>ĐỊA CHỈ LIÊN HỆ</h5>
          <hr color="black">
          <p>Địa chỉ: 669 QL1A, Trường Đại Học Kinh Tế-Luật</p>
          <p>Hotline: 0914513203</p>
          <p>Email: ECOHEAL123@gmail.com</p>
        </div>
        <div class="footer-col2">
          <h5>CHÍNH SÁCH</h5>
          <hr color="black">
          <p>Chính sách bảo mật</p>
          <p>Chính sách vận chuyển</p>
          <p>Chính sách đổi trả</p>
          <p>Chính sách thanh toán</p>
          <p>Điều khoản sử dụng</p>
        </div>
        <div class="footer-col3">
          <h5>THEO DÕI ECOHEAL TẠI</h5>
          <hr color="black">
          <p><img src="./assets/images/logoface.png" width="50px" height="50px"> &nbsp;<img src="./assets/images/logo-ins.png" width="50px" height="50px">&nbsp;<img src="./assets/images/logotiktok.png" width="70px" height="50px"></p>
          <p><img src="./assets/images/bocongthuong.jpg" width="150px" height="50px"></p>

        </div>

      </div>
      
      

    </div>

 
  
  </div>
  
  
  
</body>
</html>

