.icongroup {
  width: 80px;
}
.group {
  display: flex;
  padding: 30px 15px 0px 0px;
}
.color-green {
  color: rgb(163 207 108);
}
.tablecustomer th,
td {
  border-bottom: 1px solid #ddd;
  padding: 15px;
}
.tablecustomer tr:hover {
  background-color: rgb(163 207 108);
}
.box-status-active {
  border-radius: 12px;
  background: rgba(156, 205, 98, 0.3);
  color: rgb(0 135 103);
}
.box-status-inactive {
  border-radius: 12px;
  background: rgba(223, 4, 4, 0.3);
  color: rgb(223 4 4);
}
td .box-status {
  padding: 5px;
}
.iconsearch {
  width: 22px;
}
.search-sort {
  margin: 20px 0 0 200px;
}

.status {
  padding: 10px 20px;
}
