<!-- <div class="row" id="row-33298100">
  <div id="col-1822012390" class="col small-12 large-12">
    <div class="col-inner text-left">
      <div id="text-3695160290" class="text">
        <h2 class="title-home">SẢN PHẨM BÁN CHẠY</h2>
        </div>
<div class="tabbed-content tab-ban-chay">
  <ul class="sanphambanchay" role="tablist">
    <li id="tab-rượu-vang" class="tab active has-icon" role="presentation">
      <a href="#tab_rượu-vang" role="tab" aria-selected="true" aria-controls="tab_rượu-vang">
        <h3>BISCOTTI</h3>
      </a>
    </li>
    <li id="tab-beer-nhập" class="tab has-icon" role="presentation">
      <a href="#tab_beer-nhập" tabindex="-1" role="tab"
      aria-selected="false" aria-controls="tab_beer-nhập">
        <h3>GRANOLA</h3>
      </a>
    </li>
    <li id="tab-hộp-quà" class="tab has-icon" role="presentation">
      <a href="#tab_hộp-quà" tabindex="-1" role="tab" aria-selected="false" aria-controls="tab_hộp-quà">
        <h3>BƠ ĂN KIÊNG</h3>
      </a>
    </li>
    <li id="tab-rượu-ngoại" class="tab has-icon" role="presentation">
      <a href="#tab_rượu-ngoại" tabindex="-1" role="tab" aria-selected="false" aria-controls="tab_rượu-ngoại">
        <h3>HẠT NGŨ CỐC</h3>
      </a>
    </li> -->
<!-- <p>
  123 slide image
</p>
<section class="product">
  <div class="container-fluid">
    <div class="slider-wrap">
    <div class=" slider-main">
      <div class="item">
        <div class="text">1</div>
      </div>
      <div class="item">
        <div class="text">2</div>
      </div>
      <div class="item">
        <div class="text">3</div>
      </div>
      <div class="item">
        <div class="text">4</div>
      </div>
      <div class="item">
        <div class="text">5</div>
      </div>
    </div>
    <div class="button-area">
      <button type="button" class="prev">Prev</button>
      <button type="button" class="next" appNext >Next</button>
    </div>
  </div>
</div>
</section> -->

<!-- <p>slide</p>
<head>
  <title>bootstrap demo</title>

</head>
<body>
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="card">
    <img src="../../assets/biscotti_images/biscotti matcha.jpg" class="d-block w-100"   width="200px"
    height="200px">
    <div class="card-body">
        <h5 class="card-title">Card title 2</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
            card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>
      </div>
      <div class="carousel-item">
       <div class="card">
    <img src="../../assets/biscotti_images/biscotti choco.jpg" class="d-block w-100" alt="...">
    <div class="card-body">
        <h5 class="card-title">Card title 2</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
            card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>
      </div>
      <div class="carousel-item">
        <div class="card">
    <img src="../../assets/biscotti_images/biscotti redvelvet.jpg" class="d-block w-100" alt="...">
    <div class="card-body">
        <h5 class="card-title">Card title 2</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
            card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

</body> -->
<body>
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="card">
          <img
          src="../../assets/biscotti_images/biscotti choco.jpg"
          width="200px"
            height="200px"/>
    <div class="card-body">
        <h5 class="card-title">Card title 2</h5>
        <div class="title-image-biscotti">
         name
        </div>
        <div class="price-biscotti" >

                <button id="price-biscotti">gias<span>VND</span>
              </button>

        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>
      </div>
      <div class="carousel-item">
       <div class="card">
        <img src="../../assets/biscotti_images/biscotti choco.jpg" class="d-block w-100" alt="...">
          <div class="card-body">
              <h5 class="card-title">Card title 2</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
    </div>
      </div>
      <div class="carousel-item">
        <div class="card">
    <img src="../../assets/biscotti_images/biscotti redvelvet.jpg" class="d-block w-100" alt="...">
 
      <div class="add-to-cart-button" id="add-to-cart-button">
        <div class="add-to-cart-button-left">
        <button class="add-to-cart-button-left" id="add-to-cart-button-left" style="cursor: pointer;">
          <a href="" data-quantity="1" class="" rel="nofollow">
            Mua ngay
          </a>
          </button>
        </div>
        <div class="add-to-cart-button-right">
        <button class="add-to-cart-button-right" id="add-to-cart-button-right" style="cursor: pointer;">
        <a href="" data-quantity="1" class="" rel="nofollow">
          Thêm vào giỏ hàng
        </a>
        </button>
        </div>
    </div>
</div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

