<!-- <div class="row" id="row-33298100">
  <div id="col-1822012390" class="col small-12 large-12">
    <div class="col-inner text-left">
      <div id="text-3695160290" class="text">
        <h2 class="title-home">SẢN PHẨM BÁN CHẠY</h2>
        </div>
<div class="tabbed-content tab-ban-chay">
  <ul class="sanphambanchay" role="tablist">
    <li id="tab-rượu-vang" class="tab active has-icon" role="presentation">
      <a href="#tab_rượu-vang" role="tab" aria-selected="true" aria-controls="tab_rượu-vang">
        <h3>BISCOTTI</h3>
      </a>
    </li>
    <li id="tab-beer-nhập" class="tab has-icon" role="presentation">
      <a href="#tab_beer-nhập" tabindex="-1" role="tab"
      aria-selected="false" aria-controls="tab_beer-nhập">
        <h3>GRANOLA</h3>
      </a>
    </li>
    <li id="tab-hộp-quà" class="tab has-icon" role="presentation">
      <a href="#tab_hộp-quà" tabindex="-1" role="tab" aria-selected="false" aria-controls="tab_hộp-quà">
        <h3>BƠ ĂN KIÊNG</h3>
      </a>
    </li>
    <li id="tab-rượu-ngoại" class="tab has-icon" role="presentation">
      <a href="#tab_rượu-ngoại" tabindex="-1" role="tab" aria-selected="false" aria-controls="tab_rượu-ngoại">
        <h3>HẠT NGŨ CỐC</h3>
      </a>
    </li> -->
<p>
  123 slide image
</p>
<section class="product">
  <div class="container-fluid">
    <div class=" slider-main">
      <div class="item">
        <div class="text">1</div>
      </div>
      <div class="item">
        <div class="text">2</div>
      </div>
      <div class="item">
        <div class="text">3</div>
      </div>
      <div class="item">
        <div class="text">4</div>
      </div>
      <div class="item">
        <div class="text">5</div>
      </div>
    </div>
    <div class="button-area">
      <button class="button" class="prev">Prev</button>
      <button class="button" class="next">Next</button>
    </div>
  </div>
</section>
