<div class="container" >


<owl-carousel-o [options]="customOptions">

  <ng-template carouselSlide *ngFor="let biscotti of biscottis" >
      <div class="slide">
        <div class="card-img">
          <img
        src="../../assets/biscotti_images/{{biscotti.img_url}}"
        width="200px"
          height="200px"/>
        </div>
        <div class="card-body">
          <div class="card-tittle">
            {{biscotti.name}}
          </div>
          <div class="card-price">
            <button id="price-biscotti">{{biscotti.price}}<span>VND</span>
            </button>
          </div>
          <div class="add-to-cart-button" id="add-to-cart-button">
            <div class="add-to-cart-button-left">
            <button class="add-to-cart-button-left" id="add-to-cart-button-left" style="cursor: pointer;">
              <a >
                Mua ngay
              </a>
              </button>
            </div>
            <div class="add-to-cart-button-right">
            <button class="add-to-cart-button-right" id="add-to-cart-button-right" style="cursor: pointer;">
            <a>
              Thêm vào giỏ hàng
            </a>
            </button>
            </div>
          </div>
        </div>


      </div>
  </ng-template>
</owl-carousel-o>
  <!-- <ng-template carouselSlide>
      <div class="slide">
          <img src="../../assets/biscotti_images/biscotti matcha.jpg"   width="200px"
          height="200px">
      </div>
  </ng-template>
  <ng-template carouselSlide>
      <div class="slide">
          <img src="../../assets/biscotti_images/biscotti mix.jpg"   width="200px"
          height="200px">
      </div>
  </ng-template>
  <ng-template carouselSlide>
      <div class="slide">
          <img src="../../assets/biscotti_images/biscotti redvelvet.jpg"   width="200px"
          height="200px">
      </div>
  </ng-template>
  <ng-template carouselSlide>
      <div class="slide">
         <div class="card-img">
            <img src="../../assets/biscotti_images/biscotti toi.jpg"   width="200px"
            height="200px">
          </div>
          <div class="card-body">
            <div class="card-tittle"></div>
            <div class="card-price"></div>
          </div>

      </div>
  </ng-template>


</div> -->
