 <div class="rowlist" *ngFor="let product of productsLoadMore ">
<div class="product-small">
    <div class="box-image-biscotti" >
      <a routerLink="/products/{{product._id}}" >
        <img
        src="../../assets/products_img/{{product.img_url}}"
        width="200px"
          height="200px"/>
      </a>

    </div>
    <div class="text-image-biscotti">
        <div class="title-image-biscotti" routerLink="/sanpham/{{product._id}}" >
          {{product.name}}
        </div>
        <div class="price-biscotti" >

                <button id="price-biscotti" routerLink="/sanpham/{{product._id}}">{{product.price}}<span>VND</span>
              </button>

        </div>

        <div class="add-to-cart-button" id="add-to-cart-button">
          <div class="add-to-cart-button-left">
          <button class="add-to-cart-button-left" id="add-to-cart-button-left" style="cursor: pointer;">
            <a href="" data-quantity="1" class="" rel="nofollow">
              Mua ngay
            </a>
            </button>
          </div>
          <div class="add-to-cart-button-right">
          <button class="add-to-cart-button-right" id="add-to-cart-button-right" style="cursor: pointer;">
          <a href="" data-quantity="1" class="" rel="nofollow">
            Thêm vào giỏ hàng
          </a>
          </button>
          </div>


        </div>
    </div>
  </div>

</div>
<br>
<div style="text-align: center;">
  <button class="loadmore" (click)="handleLoadMore()">Xem Thêm</button>
</div>

<!-- <pagination-controls (pageChange)="p = $event"></pagination-controls> -->




<!-- <div class="rowlist" *ngFor="let product of productsLoadMore ">
  <div class="product-small">
    <div class="box-image-biscotti" >
      <a routerLink="/products/{{product._id}}" >
        <img
        src="../../assets/products_img/{{product.img_url}}"
        width="200px"
          height="200px"/>
      </a>

    </div>
    <div class="text-image-biscotti">
        <div class="title-image-biscotti" routerLink="/sanpham/{{product._id}}" >
          {{product.name}}
        </div>
        <div class="price-biscotti" >

                <button id="price-biscotti" routerLink="/sanpham/{{product._id}}">{{product.price}}<span>VND</span>
              </button>

        </div>

        <div class="add-to-cart-button" id="add-to-cart-button">
          <div class="add-to-cart-button-left">
          <button class="add-to-cart-button-left" id="add-to-cart-button-left" style="cursor: pointer;">
            <a href="" data-quantity="1" class="" rel="nofollow">
              Mua ngay
            </a>
            </button>
          </div>
          <div class="add-to-cart-button-right">
          <button class="add-to-cart-button-right" id="add-to-cart-button-right" style="cursor: pointer;">
          <a href="" data-quantity="1" class="" rel="nofollow">
            Thêm vào giỏ hàng
          </a>
          </button>
          </div>


        </div>
    </div>
  </div>

</div>
<br>
<div style="text-align: center;">
  <button class="loadmore" (click)="handleLoadMore()">Xem Thêm</button>
</div>

<pagination-controls (pageChange)="p = $event"></pagination-controls> -->


