
<nav>
    <div class="header">
        <div class="left_menu"><img src="./assets/images/logo.png" width="70px" height="70px"></div>
        <div class="right_menu">
            <ul class="sub_right_menu">
                <li><div><a href="">Đăng nhập</a></div></li>
                <li><div><a href="">Khuyến mãi</a></div></li>
                <li><div><a href="">Tin Tức</a></div></li>
                <li><div><a href="">Menu</a></div></li>
                <li><div><a href="">Về chúng tôi</a></div></li>
                <li><div><a href="">Trang chủ</a></div></li>

                
            </ul>
        </div>

    </div>
    <div id="nav-menu">
        <button onclick="menu()">
          <i class="fa-solid fa-bars"></i>
        </button>
      </div>
    <ul id="list-menu" class="list-menu">     
      <li><a href="#">Trang chủ</a></li>
      <li><a href="#">Về chúng tôi</a></li>
      <li><a href="#">Menu</a></li>
      <li><a href="#">Tin tức</a></li>
      <li><a href="#">Khuyến mãi</a></li>
      <li><a href="#">Đăng nhập</a></li>
      </ul>
</nav>


<div class="banner">
    <img src="./assets/images/banner.png" width="1280px" height="300px">


</div>
<hr color="gray">
<div align="center">
    <h3>ECOHEAL</h3>
    <p>ECOHEAL - Công ty chuyên cung cấp các món ăn nhanh tiện lợi, đầy đủ dinh dưỡng với chất lượng đảm bảo. Phù hợp với khách hàng quan tâm tới sức khoẻ thông qua chế độ ăn uống lành mạnh.</p>

</div>
<hr color="gray">
<h3 align="center">CÁCH ĐẶT HÀNG</h3>
<div class="main">
    <div class="box1">
        <h4 align="center" >Chọn sản phẩm</h4>
        <p  align="center">Chọn gói ăn phù hợp với nhu cầu của bạn và điền đầy đủ thông tin giao hàng</p>
    </div>
    <div class="box1">
        <h4></h4>
        <p></p>
    </div>
    <div class="box1"></div>
    <div class="box1"></div>

</div>
<hr color="gray">
<div>
    <h3 align="center">SẢN PHẨM TIÊU BIỂU</h3>
</div>
<div class="footer">

</div>
