<!DOCTYPE html>
<html lang="en">
<head>
    
</head>
<body>
    <!-- header -->

        <!-- <div class="menu" >
            <div class="left_menu"><img src="./assets/images/logo.png" width="70px" height="70px"></div>
            <div class="right_menu">
                <ul class="sub_right_menu">
                    <li><div><a href="#"><img src="./assets/images/giỏ hàng.png" width="50px" height="50px"></a></div></li>
                    <li><div><a href="#">ĐĂNG NHẬP</a></div></li>
                    <li><div><input class="form-control" type="text"  placeholder="Tìm kiếm "></div></li>

                    <li><div><a href="#">KHUYẾN MÃI</a></div></li>
                    <li><div><a href="#">TIN TỨC</a></div></li>
                    <li><div><a href="#">MENU</a></div></li>
                    <li><div><a href="#">VỀ CHÚNG TÔI</a></div></li>
                    <li><div><a href="#">TRANG CHỦ</a></div></li>
                </ul>
            </div>
        </div> -->
        <!--  -->



    <div class="news">
       <div class="box-news">
       <p align="center">SỰ KIỆN</p>
       </div>
       <div class="box-news">
       <p align="center">SỐNG KHỎE</p>
    </div>

    </div>
    <!-- tin tức -->
    <div class="main">
        <div class="box1"routerLink="/tintuc-detail" >
            <div class="img"  >
                <img src="../../assets/images/Tomato.png" height="200px" >
            </div>
            <p><a> SAI LẦM PHỔ BIẾN KHIẾN BẠN KHÔNG THỂ GIẢM CÂN KHI ĂN CHẾ ĐỘ EAT CLEAN</a></p>
            <p>"Agriculture is the most healthful, most useful and most noble employment of man."</p>
            <p><b>George Washington</b></p>
            <p><b>Thurday 09 2022</b></p>
           </div>
           <div class="box1" routerLink="/tintuc-detail">
            <div class="img" routerLink="/tintuc-detail">
                <img src="../../assets/images/Tomato.png" height="200px" >
            </div>
            <p><a href="">5 SAI LẦM PHỔ BIẾN KHIẾN BẠN KHÔNG THỂ GIẢM CÂN KHI ĂN CHẾ ĐỘ EAT CLEAN</a></p>
            <p>"Agriculture is the most healthful, most useful and most noble employment of man."</p>
            <p><b>George Washington</b></p>
            <p><b>Thurday 09 2022</b></p>
           </div>
           <div class="box1" routerLink="/tintuc-detail">
            <div class="img">
                <img src="../../assets/images/Tomato.png" height="200px" >
            </div>
            <p><a href="">5 SAI LẦM PHỔ BIẾN KHIẾN BẠN KHÔNG THỂ GIẢM CÂN KHI ĂN CHẾ ĐỘ EAT CLEAN</a></p>
            <p>"Agriculture is the most healthful, most useful and most noble employment of man."</p>
            <p><b>George Washington</b></p>
            <p><b>Thurday 09 2022</b></p>
           </div>
    </div>
    <!-- footer -->

    <div class="footer">

    <div class="container">
      <div class="row">
        <div class="footer-col1">
          <h5>ĐỊA CHỈ LIÊN HỆ</h5>
          <hr color="black">
          <p>Địa chỉ: 669 QL1A, Trường Đại Học Kinh Tế-Luật</p>
          <p>Hotline: 0914513203</p>
          <p>Email: ECOHEAL123@gmail.com</p>
        </div>
        <div class="footer-col2">
          <h5>CHÍNH SÁCH</h5>
          <hr color="black">
          <p>Chính sách bảo mật</p>
          <p>Chính sách vận chuyển</p>
          <p>Chính sách đổi trả</p>
          <p>Chính sách thanh toán</p>
          <p>Điều khoản sử dụng</p>
        </div>
        <div class="footer-col3">
          <h5>THEO DÕI ECOHEAL TẠI</h5>
          <hr color="black">
          <p><img src="./assets/images/logoface.png" width="50px" height="50px"> &nbsp;<img src="./assets/images/logo-ins.png" width="50px" height="50px">&nbsp;<img src="./assets/images/logotiktok.png" width="70px" height="50px"></p>
          <p><img src="./assets/images/bocongthuong.jpg" width="150px" height="50px"></p>

        </div>

      </div>



    </div>



  </div>




</body>
</html>

